Repository kozlovvski/shahmat: changes, and which Codecov flags are due for each by the changed paths.
All: core, fen, utils, validator

adjust tests to new config
  jest.config.js
  packages/fen/src/lib/decodeFEN/index.helpers.ts
  packages/fen/src/lib/decodeFEN/index.test.ts
Due: fen

remove unnecessary os from test pipeline
  .github/workflows/test-and-report-coverage.yml
Due: none

ci: remove MacOS and Windows from test pipeline (#3)
  .github/workflows/test-and-report-coverage.yml
Due: none

remove packages prefix
  .codecov.yml
Due: none

ci: add codecov flags and fixes (#2)
  .codecov.yml
  jest.config.js
  packages/fen/src/lib/decodeFEN/index.helpers.ts
  packages/fen/src/lib/decodeFEN/index.test.ts
Due: fen

chore: setup locales module
  .eslintignore
  jest.config.js
  packages/common/README.md
  packages/common/locales.ts
  packages/fen/src/lib/decodeFEN/index.helpers.ts
  tsconfig.json
Due: fen

chore: test if @inheritdoc works
  packages/core/src/lib/ShahmatGame/index.ts
  packages/utils/src/types/ShahmatGameInterface.ts
Due: core, utils

Path conditions:
  core: any of: packages/core
  fen: any of: packages/fen
  utils: any of: packages/utils
  validator: any of: packages/validator
